<script type="application/ld+json">
{
  "@context": "http://www.schema.org",
  "@type": "Event",
  "name": "{{ .Site.Params.eventName | plainify }}",
  "url": "{{ "/" | absURL }}",
  "description": "{{ .Site.Params.eventSlogan | plainify }}",
  "startDate": "{{ dateFormat "2006-01-02" .Site.Params.dateStart }}",
  "endDate": "{{ dateFormat "2006-01-02" .Site.Params.dateEnd }}",
  "image": "{{ .Site.Params.Styling.logoHero | absURL }}"
  {{- with .Site.Params.venue }},
    "location": {
      "@type": "Place",
      "name": "{{ .name }}",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "{{ .street }}",
        "addressLocality": "{{ .city }}",
        "addressRegion": "{{ .state }}",
        "postalCode": "{{ .zipcode }}",
        "addressCountry": "{{ .country }}"
      }
      {{- with .coords }},
        "geo": {
          "@type": "GeoCoordinates",
          "latitude": {{ .latitude }},
          "longitude": {{ .longitude }}
        }
      {{ end }}
    }
  {{ end }}
}
 </script>
