<section id="basic-info" class="container">
  <div class="row">
    <div class="col-sm-12">

      <!-- Card -->
      <div class="card card-free-bird mb-3">
        <img class="card-img-top px-3 pt-4 pb-2" src="/images/header.png" alt="Header">

        <div class="card-body text-center">
          <h2 class="card-title text-uppercase event-primary-text">
            <b>{{ i18n "basicinfo_claim" }}</b>
          </h2>
          <h3 class="text-uppercase pb-5">
            <b>
              {{ $startMonth := dateFormat "January" .Site.Data.event.dateStart }}
              {{ $endMonth := dateFormat "January" .Site.Data.event.dateEnd }}
              {{ if eq $startMonth $endMonth }}
                 {{ dateFormat "January 2" .Site.Data.event.dateStart }}-{{ dateFormat "2" .Site.Data.event.dateEnd -}}
              {{ else }}
                {{ dateFormat "January 2" .Site.Data.event.dateStart }}-{{ dateFormat "January 2" .Site.Data.event.dateEnd -}}
              {{ end }},
              {{ dateFormat "2006" .Site.Data.event.dateStart }}
            </b>
          </h3>

          <div class="row justify-content-md-center">
            <div class="col-md-10 text-left">
              <h4 class="text-uppercase"><b>{{ i18n "basicinfo_what_is_it_title" }}</b></h4>
            </div>
          </div>

          <div class="row justify-content-md-center">
            <div class="col-md-5 text-left">
              <p class="card-text">{{ i18n "basicinfo_what_is_it" | markdownify }}</p>

              <h4 class="text-uppercase pt-5"><b>{{ i18n "basicinfo_when_where_title" }}</b></h4>
              <p class="card-text">{{ i18n "basicinfo_when_where" | markdownify }}</p>
            </div>

            <div class="col-md-5 text-left">
              <p class="card-text">{{ i18n "basicinfo_organizers" | markdownify }}</p>
              <p class="text-center">
                {{ range .Site.Data.event.organizers }}
                  <a href="{{ .url }}" target="_blank">
                    <img class="w-75" src="{{ .logo }}" title="{{ .name }}">
                  </a>
                {{ end }}
              </p>
            </div>

          </div>

        </div>
      </div>

    </div>
  </div>
</section>
