<!-- Partners -->
<section id="partners" class="container">
  <div class="card my-3">
    <div class="card-body">
  
    {{ if .Site.Params.partners.sponsors }}
      <h3 class="card-title text-center text-uppercase">
        <b>{{ i18n "sponsors-partners" }}</b>
      </h3>

      <div class="row text-center">
        {{ range .Site.Params.partners.sponsors }}
          <div class="col-md-3 align-middle">
            <a href="{{ .url }}" target="_blank"><img class="{{ .class }}" src="{{ .logo }}" alt="{{ .name }}"></a>
          </div>
        {{ end }}
      </div>
    {{ end }}

    {{ if .Site.Params.partners.community }}
      <hr>
      <h3 class="card-title text-center text-uppercase">
        <b>{{ i18n "community-partners" }}</b>
      </h3>

      <div class="row text-center">
        {{ range .Site.Params.partners.community }}
          <div class="col-md-3 align-middle">
            <a href="{{ .url }}" target="_blank"><img class="{{ .class }}" src="{{ .logo }}" alt="{{ .name }}"></a>
          </div>
        {{ end }}
      </div>
    {{ end }}

    </div>
  </div>

</section>
