{{ if .Site.Params.team }}
<section id="team" class="team container">
  <div class="card my-3">
    <div class="card-body">
      <h3 class="card-title text-center text-uppercase">
        <b>{{ i18n "team" }}</b>
      </h3>

      <div class="row card-body card-text team-description">
        {{ i18n "team_description" | markdownify }}
      </div>

      <div class="row card-body">
        {{ range .Site.Params.team }}
          <figure class="figure">
            <img src="{{ .photo | relURL }}" class="rounded-circle z-depth-1"/>
            <figcaption class="figure-caption event-primary-text mt-2">{{ .name }}</figcaption>
          </figure>
        {{ end }}
      </div>

    </div>
  </div>
</section>
{{ end }}
