body {
  font-family:      "Fira Sans", sans-serif;
  background-color: #F2F2F2;
}

.navbar {
  font-weight:      200;
  font-size:        0.9rem;
  background-color: rgba(0,113,188,0.26);
}

.top-nav-collapse {
  background-color: rgba(0,113,186,0.8);
}

.event-primary {
  background-color: #0071BB !important;
}

.event-primary-text {
  color: #0071BB;
}

#intro {
  height: 100%;
  background-color:       #666;
  background-attachment:  fixed;
  background-position:    center center;
  background-repeat:      no-repeat;
  background-size:        cover;
  -webkit-background-size:cover;
  -moz-background-size:   cover;
  -o-background-size:     cover;
}

#intro::after {
  content: "";
  background-image:       url('../images/grain.png');
  background-attachment:  scroll;
  background-position:    top left;
  background-repeat:      repeat;
  position:               absolute;
  opacity:                .4;
  top:                    0;
  left:                   0;
  bottom:                 0;
  right:                  0;
}
