<section id="basic-info" class="container">
  <div class="row">
    <div class="col-sm-12">

      <!-- Card -->
      <div class="card card-free-bird">
        <img class="card-img-top px-3 pt-4 pb-2" src="/images/header.png" alt="Header">

        <div class="card-body text-center">
          <h1 class="card-title text-uppercase event-primary-text">
            <b>{{ i18n "basicinfo_claim" }}</b>
          </h1>
          <h2 class="text-uppercase">
            <b>{{ i18n "basicinfo_date"}}</b>
          </h2>

          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem perspiciatis voluptatum a, quo nobis,
            non commodi quia repellendus sequi nulla voluptatem dicta reprehenderit, placeat laborum ut beatae ullam suscipit
            veniam.
          </p>

        </div>
      </div>

    </div>
  </div>
</section>
