<nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
  <div class="container-fluid">
    {{ with .Site.Params.Styling.logoNavbar }}
      <a class="navbar-brand" href="{{ absLangURL "/" }}">
        <img src="{{ . | relURL }}" width="30" height="30" alt="">
      </a>
    {{ end }}

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigationBarTarget" aria-controls="navigationBarTarget" aria-expanded="false" aria-label="{{ i18n "menu_toggle_navigation" }}">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navigationBarTarget">
      <!-- Links -->
      <ul class="navbar-nav mr-auto smooth-scroll">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <li class="nav-item text-uppercase {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
          <a class="nav-link" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
        </li>
        {{ end }}
      </ul>
      <!-- Links -->

      <!-- Social Icon  -->
      <ul class="navbar-nav nav-flex-icons">
        {{ range .Site.Params.social }}
          <li class="nav-item">
            <a class="nav-link" href="{{ .url }}" target="_blank">
              <i class="fa {{ .icon }}"></i>
            </a>
          </li>
        {{ end }}

        {{ if gt (len $.Site.Home.AllTranslations) 1 }}
        <!-- Language switcher  -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-uppercase waves-effect waves-light" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">{{ .Language }}</a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            {{ range $.Site.Home.AllTranslations }}
              {{ if $.IsTranslated }}
                {{ $.Scratch.Set "translatedLink" $.Permalink }}
                {{ $.Scratch.Set "translatedLang" .Lang }}

                {{ range $.Translations }}
                  {{ if eq .Lang ($.Scratch.Get "translatedLang") }}
                    {{ $.Scratch.Set "translatedLink" .Permalink }}
                  {{ end }}
                {{ end }}
              {{ else }}
                 {{ $.Scratch.Set "translatedLink" .Permalink }}
              {{ end }}
              <a class="dropdown-item waves-effect waves-light" href="{{ $.Scratch.Get "translatedLink" }}">{{ .Language.LanguageName }}</a>
            {{ end }}
          </div>
        </li>
        {{ end }}

      </ul>

      <!-- Highlighted nav bar buttons  -->
      <ul class="navbar-nav smooth-scroll">
        {{ range .Site.Menus.highlighted }}
          <li class="nav-item">
            <a class="navbar-btn" href="{{ .URL | relLangURL }}">
              <button class="btn {{ .Pre }} btn-md text-uppercase my-0 ml-lg-3">
                {{ .Name }}
                {{ with .Post }}
                  <i class="fa {{ . }} ml-2"></i>
                {{ end }}
              </button>
            </a>
          </li>
        {{ end }}
      </ul>
    </div>

  </div>
</nav>
